body{
    background-color:#cad5e6;
    margin: 0px;
    padding: 0px;
}
#touser{
    padding: 20px 40px;
}
.header{
    background-color: #131a6b;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.main{
    background-color:#cad5e6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
    margin: 0 auto;
}
.content{
    background-color:#cad5e6;
    text-align: center;
    align-self: center;
    margin: 40px;
    padding: 40px;
    width: 600px;
    border: 2px solid #000000;
    border-radius: 50px;
    position: relative;
}
.replace{
    background-color:#cad5e6;
    margin: 0px;
    padding: 0px;
}
.topsegment{
    display: inline-block;
    width: 250px;
    height: 150px;
    border: 0px;
    position: relative;
    margin: 0px;
    padding: 20px;
    top: 0px;
    left: 0px;
    vertical-align: top;
}
#logo{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 15;
}
#logolettering{
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 15;
}
#twitt{
    position: absolute;
    top: 60px;
    right: 100px;
    z-index: 15;
}
h1{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}
h2{
    color: #ffffff;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}
h3{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0px;
    text-align: center;
}
h4{
    color: #000000;
    font-family: 'Quicksand',sans-serif;
    font-size: 16px;
    font-weight: 300;
}
p{
    color: #000000;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
button {
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
  .button {
    border-radius: 100px;
    display: inline-block;
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.5s ease;
  }
  .button:hover {
    opacity: 0.75;
  }
  .button-primary {
    background-color: #131a6b;
    color: #FFFFFF;
  }
  .button-secondary {
    background-color: #A1A1A1;
    color: #FFFFFF;
  }